* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #5e5e5e;
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
}

a {
    text-decoration: none;
    color: #eee;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.header {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #eee;
}

.header__logo {
    margin: 0 20px;
    float: left;
}

.header__logo-img {
    display: block;
    width: 140px;
    height: 60px;
    background: url("../img/logo.png") no-repeat center center;

}

.header__nav {
    font-size: 0;
    height: 60px;
    float: left;
}

.header__nav-item {
    text-align: center;
    width: 70px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    padding: 0 5px;
    display: inline-block;
    color: #eee;
}

.header__nav-item.active,
.header__nav-item:hover {
    color: #fff;
    background-color: rgba(77, 85, 93, 0.4);
}

.header__nav-item > .icon-new {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/icon-new.png") no-repeat;
    position: absolute;
    top: 10px;
}

.header__search-warp {
    position: relative;
    min-width: 32px;
    height: 60px;
    float: right;
    margin-right: 18px;
}

.search-tags {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 5px;
}

.search-tags > a {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 8px;
    color: #93999f;
    background-color: #2b333b;
}

.search-area {
    float: right;
    position: relative;
    height: 38px;
    width: 210px;
    margin: 10px 0;
    padding-right: 30px;
    border: 1px solid #000;
    border-bottom-color: rgba(120, 125, 130, 0.8);
    zoom: 1;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}

.search-input {
    padding: 5px 10px;
    width: 100%;
    height: 38px;
    line-height: 38px;
    float: left;
    border: 0;
    color: #fff;
    background-color: #000000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.search-input:focus ~ .search-tags {
    display: none;
}

.search-input::-webkit-input-placeholder {
    color: #999;
}

.search-label {
    position: absolute;
    width: 22px;
    height: auto;
    top: 10px;
    right: 0;
    float: right;
}

.search-icon {
    display: block;
    width: 22px;
    height: 22px;
    background: url("../img/icon-1-sprite_w22.png") no-repeat 0 0;
    line-height: 60px;
    cursor: pointer;
}

.search-icon:hover {
    cursor: pointer;
}

.header__login-area {
    min-width: 100px;
    height: 60px;
    float: right;
    margin-right: 18px;
}

.header__login-area > .area-btn {
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 60px;
}

.header__login-area > .area-btn:hover {
    color: #fff;
    background-color: rgba(77, 85, 93, 0.4);
}

.icon-lock {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background: url("../img/shopcar.png") no-repeat 0 30%;
}

.icon-alert {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    background: url("../img/icon-1-sprite_w22.png") no-repeat 0 67%;
    transform: scale(.9);
}

.login-face {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/**
main
 */
.banner {
    height: 140px;
    background-color: #e3e6e9;
    background: url(../img/cart-header-bg.jpg) repeat-x left bottom;
}

.banner__header {
    width: 1104px;
    height: 120px;
    margin: 0 auto;
}

.banner__header > h1 {
    float: left;
    font-size: 32px;
    height: 90px;
    line-height: 90px;
    font-weight: 600;
    margin-right: 25px;
    color: #07111b;
}

.card {
    width: 1104px;
    background-color: #fff;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px 10px;
    box-shadow: 0 0 8px rgba(7, 17, 27, 0.2);
    border-radius: 1px;
}

.card__title {
    min-height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #b7bbbf;
}

.card__title-item {
    float: left;
}

.card__title-item > span:not(.check__words) {
    float: left;
    margin-left: 40px;
}

.card__title-item > .check__words {
    color: #4d555d;
}

.card__title-item:nth-of-type(1) {
    width: 66px;
}

.card__title-item:nth-of-type(2) {
    width: 400px;
}

.card__title-item:nth-of-type(3) {
    width: 150px;
}

.card__title-item:nth-of-type(4) {
    width: 150px;
}

.card__title-item:nth-of-type(5) {
    width: 150px;
}

.card__title-item:nth-of-type(6) {
    width: 150px;
}

.card__content {
    margin-bottom: 16px;
}

.card__content-checkbox {
    float: left;
    height: 90px;
    line-height: 90px;
    width: 50px;
}

.card__content-item {
    height: 90px;
    padding: 10px 0;
    border-bottom: 1px solid #d9dde1;
}

.card__image {
    float: left !important;
    width: 160px;
    height: 90px;
}

.card__detail-name {
    display: inline-block;
    width: 215px;
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
    color: #07111b;
    font-size: 16px;
    font-weight: 600;
}

.card__total-price,
.card__unit-price,
.card__delete {
    display: inline-block;
    width: 145px;
    height: 90px;
    line-height: 90px;
    text-indent: 45px;
}

.card__quantity-form {
    display: inline-block;
    width: 120px;
    padding-left: 30px;
    height: 90px;
    line-height: 90px;
    font-size: 0;
}

.card__quantity-form > input[type="number"] {
    font-family: verdana;
    border: 1px solid #cacbcb;
    width: 30px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 14px;
    -moz-appearance: textfield;
    background-color: white;
    color: #333;
}

.card__quantity-form > input::-webkit-outer-spin-button,
.card__quantity-form > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.card__quantity-form > .decrement,
.card__quantity-form > .increment {
    display: inline-block;
    border: 1px solid #cacbcb;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    padding: 1px 2px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    outline: none;
    box-sizing: content-box;
}

.card__quantity-form > .decrement {
    border-right: 0;
}

.card__quantity-form > .increment {
    border-left: 0;
}

.card__delete-link {
    color: #5e5e5e;
}

.card__delete-link:hover {
    color: #000;
    font-weight: 600;
}

.account {
    width: 1104px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    margin: 10px auto;
    padding: 10px 30px;
    box-shadow: 0 0 8px rgba(7, 17, 27, 0.2);
    border-radius: 1px;
}

.account__btn {
    transition: transform 1s;
    display: block;
    float: right;
    font-size: 16px;
    margin-right: 55px;
    background-color: red;
    color: #eeeeee;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    border-style: none;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    outline: none;
}

.account__btn:hover {
    transform: translateY(-5px);
    background-color: crimson;
    color: #fff;
}

.account__total {
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    float: right;
}

.account__total-price {
    display: inline;
    color: red;
    margin-left: 20px;
    font-size: 17px;
}

footer {
    background: #000000;
    border-top: 1px solid #e2e4e6;
    font-size: 12px;
    color: #787d82;
    padding: 27px 0;
    min-width: 620px;
    margin-top: 80px;
}

footer .waper {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}

footer .followus {
    margin-right: 34px;
    padding-left: 30px;
    float: right;
}

footer .followus > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/footer-sprite.png") no-repeat;
    margin: 3px 3px 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

footer .followus > a:hover {
    opacity: 1;
}

footer .followus > .followus-weixin {
    background-position: 0 -279px;
}

footer .followus > .followus-weibo {
    background-position: 0 -321px;
}

footer .followus > .followus-qzone {
    background-position: 0 -363px;
}

footer .footer_intro {
    padding-left: 40px;
}

footer .footer_link {
    margin-bottom: 4px;
    line-height: 1.8;
}

footer .footer_link ul {
    overflow: hidden;
    margin-top: -1px;
    list-style: none;
}

footer .footer_link ul > li {
    margin-right: 30px;
    text-align: center;
    float: left;
}

footer .footer_link ul > li > a {
    color: #959aa0;
}

footer .footer_link ul > li > a:hover {
    color: #ffffff;
}