/*
BEM 设计模式

模块(没有前缀多个单词用-连接)
元素(元素在模块之后，可以有多个层级)
修饰(某元素和、或某模块特别的状态，必须要有一个状态名和状态值)

*/

.header {
    background-color: #f7f7f7;
}

.header_wrap {
    position: relative;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.header_logo {
    font-size: 20px;
    line-height: 38px;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 150px;
    height: 38px;
    margin-top: -19px;
    text-indent: 50px;
    color: #07111b;
    background: url('../img/logo.png') left center no-repeat;
    background-size: 38px 38px;
}

.header_nav {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 38px;
    margin-top: -19px;
}

.header_nav-item {
    font-size: 14px;
    line-height: 38px;
    position: relative;
    display: block;
    float: left;
    height: 38px;
    margin-left: 40px;
    color: #292f35;
}

.header_nav-item:hover {
    color: #f01400;
}

.header_nav-item_status_active {
    color: #f01400;
}

.header_nav-item_status_active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #f01400;
}

.header_nav-item_custom_buttom {
    width: 90px;
    text-align: center;
    color: #f4f4f5;
    background: #000;
}


/* 第一屏 */

.screen-1 {
    position: relative;
    overflow: hidden;
    height: 800px;
    background: url(../img/bg-screen-1.png) no-repeat center;
    background-size: cover;
}

.screen-1__heading {
    font-size: 46px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-top: 152px;
    text-align: center;
    color: #4d555d;
}

.screen-1__heading b {
    font-weight: normal;
    color: #f01400;
}

.screen-1__phone {
    position: absolute;
    z-index: 2;
    bottom: 180px;
    left: 50%;
    width: 1375px;
    height: 305px;
    margin-left: -687px;
    background: url(../img/screen-1-phone.png) no-repeat center;
}

.screen-1__shadow {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    width: 1233px;
    height: 411px;
    margin-left: -616px;
    opacity: .8;
    background: url(../img/screen-1-shadow.png) no-repeat center;
}


/*第二屏*/

.screen-2 {
    height: 800px;
    text-align: center;
    background-color: #fafafa;
}

.screen-2__wrap {
    position: relative;
    overflow: hidden;
    min-width: 800px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.screen-2__heading {
    font-size: 42px;
    position: absolute;
    top: 80px;
    width: 100%;
    color: #f01414;
}

.screen-2__subheading {
    font-size: 16px;
    position: absolute;
    top: 190px;
    width: 100%;
}

.screen-2__phone {
    position: absolute;
    top: 270px;
    left: 50%;
    width: 800px;
    height: 873px;
    margin-left: -464px;
    background: url(../img/bg-screen-2.png) no-repeat;
}

.screen-2__point {
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    width: 100px;
    height: 24px;
    color: #4d555d;
}

.screen-2__point_i_1 {
    top: 180px;
    left: -120px;
    padding-right: 112px;
    background: url(../img/icon-point-right.png) no-repeat center right;
}

.screen-2__point_i_2 {
    top: 37px;
    left: 584px;
    padding-left: 112px;
    background: url(../img/icon-point-left.png) no-repeat center left;
}

.screen-2__point_i_3 {
    top: 340px;
    left: 680px;
    padding-left: 112px;
    background: url(../img/icon-point-left.png) no-repeat center left;
}


/*第三屏*/

.screen-3 {
    height: 800px;
    color: rgb(255, 255, 255);
    background-color: #a71316;
}

.screen-3__wrap {
    position: relative;
    overflow: hidden;
    min-width: 800px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.screen-3__heading {
    font-size: 36px;
    position: absolute;
    top: 90px;
    left: 10px;
    width: 580px;
}

.screen-3__subheading {
    font-size: 16px;
    position: absolute;
    top: 170px;
    left: 10px;
    width: 580px;
}

.screen-3__phone {
    position: absolute;
    top: 200px;
    left: 465px;
    width: 729px;
    height: 900px;
    background: url(../img/bg-screen-3.png) no-repeat;
}

.screen-3__features {
    position: absolute;
    bottom: 140px;
    left: 5px;
    width: 328px;
    height: 288px;
}

.screen-3__features-item-number {
    font-size: 36px;
    line-height: 36px;
    display: block;
    height: 36px;
    padding: 32px 0 9px 0;
}

.screen-3__features-item {
    font-size: 14px;
    line-height: 14px;
    float: left;
    width: 138px;
    height: 118px;
    margin: 0 24px 24px 0;
    text-align: center;
    color: #fff;
    border: 1px solid #d97173;
    border-radius: 3px;
}


/* 第四屏开始 */

.screen-4 {
    height: 800px;
    text-align: center;
    background-color: #fff;
}

.screen-4__wrap {
    position: relative;
    overflow: hidden;
    min-width: 800px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.screen-4__heading {
    font-size: 42px;
    position: absolute;
    top: 80px;
    width: 100%;
    color: #f01414;
}

.screen-4__subheading {
    font-size: 16px;
    position: absolute;
    top: 180px;
    width: 100%;
}

.screen-4__type {
    font-size: 16px;
    position: absolute;
    bottom: 220px;
    width: 1300px;
    height: 270px;
    margin-left: 30px;
    text-align: center;
}

.screen-4__type-item {
    position: relative;
    float: left;
    width: 220px;
    height: 270px;
    margin-right: 90px;
}

.screen-4__type-item-name {
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 300px;
    width: 100%;
    height: 40px;
    height: 16px;
    color: #2c3238;
}

.screen-4__type-item-storage {
    font-size: 9px;
    line-height: 9px;
    position: absolute;
    top: 328px;
    width: 100%;
    height: 40px;
    height: 9px;
    color: #93999f;
}

.screen-4__type .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 270px;
}

.screen-4__type-item_i_1 {
    background: url('../img/phone-1.png') center left no-repeat;
}

.screen-4__type-item_i_2 {
    background: url('../img/phone-2.png') center left no-repeat;
}

.screen-4__type-item_i_3 {
    background: url('../img/phone-3.png') center left no-repeat;
}

.screen-4__type-item_i_4 {
    background: url('../img/phone-4.png') center left no-repeat;
}
/* 第五屏开始 */
.screen-5 {
    height: 800px;
    text-align: center;
    overflow: hidden;
    background: #d9dde1;
    position: relative; 
}
.screen-5__back{
    width: 100%;
    height: 370px;
    background: url(../img/bg-screen-5.png) no-repeat bottom center ;
    background-size: cover;
    position: absolute;
    bottom: -100px;
}

.screen-5__wrap {
    max-width: 1200px;
    min-width: 800px;
    margin: 0px auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.screen-5__heading {
    position: absolute;
    top: 180px;
    width: 100%;
    font-size: 42px;
    color: #f01414;
}
.screen-5__subheading {
    position: absolute;
    top: 270px;
    width: 100%;
    font-size: 16px;
}


.buy {
    height: 80px;
    padding: 120px 0px;
    background: url(../img/bg-screen-buy.png) no-repeat bottom center #2b333b;
}

.buy__button:hover,
.buy__button {
    width: 240px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 3px;
    margin: 0px auto;
    display: block;
    background-color: #f01414;
    transition:all .5s;
}
.buy__button:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
    transform:translate(0,-5px);
}

/*页脚模块开始*/
.footer {
    height: 80px;
    line-height: 80px;
    background-color: #07111b;
    text-align: center;
    color: #fff;
}