* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "iconfont";
    src: url("../img/font/iconfont.eot");
    src: url("../img/font/iconfont.eot") format("embedded-opentype"), url("../img/font/iconfont.ttf") format("woff"), url("../img/font/iconfont.ttf") format("truetype"), url("../img/font/iconfont.svg#iconfog") format("svg");
}

ul {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color:#333;
}

body {
    font-family: '微软雅黑';
}

.main {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 460;
    margin: 30px auto;
}

.banner {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 460px;
}

.banner-slide {
    position: absolute;
    display: none;
    width: 1200px;
    height: 460px;
    background-repeat: no-repeat;
}

.active {
    display: block;
}

.slide1 {
    background-image: url(../img/bg1.jpg);
}

.slide2 {
    background-image: url(../img/bg2.jpg);
}

.slide3 {
    background-image: url(../img/bg3.jpg);
}

.button {
    position: absolute;
    top: 50%;
    left: 244px;
    width: 40px;
    height: 80px;
    margin-top: -40px;
    background: url(../img/arrow.png) no-repeat center center;
}

.button:hover {
    opacity: .4;
    background-color: #333;
    filter: alpha(opacity=80);
}

.prev {
    transform: rotate(180deg);
}

.next {
    right: 0;
    left: auto;
}

.dots {
    position: absolute;
    right: 20px;
    bottom: 24px;
    text-align: right;
}

.dots span {
    line-height: 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(7, 17, 27, .4);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .8) inset;
}

.dots span.dots-active {
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(7, 17, 27, .4) inset;
}


/*导航菜单*/

.menu-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 244px;
    height: 460px;
    opacity: .5;
    background: rgba(7, 17, 27, .5);
}

.menu-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 244px;
    height: 454px;
    padding-top: 6px;
}

.menu-item {
    position: relative;
    height: 64px;
    line-height: 66px;
    font-size: 16px;
    padding: 0 24px;
}

.menu-item a:link,
.menu-item a:visited {
    color: #fff;
}

.menu-item a {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 0 8px;
    height: 63px;
}

.menu-item i {
    position: absolute;
    right: 32px;
    font-size: 24px;
    top: 2px;
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, .6);
}

.sub-menu {
    width: 730px;
    height: 458px;
    border: 1px solid #d9dde1;
    position: absolute;
    left: 244px;
    top: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
}

.inner-box {
    width: 100%;
    height: 100%;
    background: url(../img/fe.png);
    display: none;
}

.sub-inner-box{
    width: 652px;
    margin-left: 40px;
    overflow: hidden;
}

.title {
    margin: 28px 0 30px 0;
    color: #f01414;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.sub-row{
	margin-bottom: 25px;
}

.bold {
    font-weight: bold;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.hide{
	display: none;
}